*{
    margin: 0;
    padding: 0;
}

#botoneraGeneral{
    padding: 0.3em;
    width: 80%;
    font-family: 'Poppins', sans-serif; 
        :hover{
        transform: scale(1);
        transition-duration: 2s;
        font-size: 17px;
        }
}   

#titulosFuentes{
    border: solid 0,5px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    background-color: #f8f3f3;
     #titulosFuentes:hover{
        transition: all 2s;
        transform: translate(50px);
        }
    }

    .navegacion:hover{
        transform: scale(1);
        :hover{
            transition-duration: 2s;
            font-size: 21px;
          }    
    }
    
    /* transición */
    .navegacion:hover{
      transition-duration: 2s;
      font-size: 21px;
    }    